<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <appSettings>

    <!--微信公众号开发者ID（必填）-->
    <add key="AppID" value="wx22df7163508b4537" />
    <!--微信公众号开发者密码（必填）-->
    <add key="AppSecret" value="19dd543accb6e872adf116fbf23a8f20" />
    <!--微信支付商户号（必填）-->
    <add key="mchid" value="1580333701" />
    <!--微信支付API秘钥（必填）-->
    <add key="mchsecret" value="TPhy1996tpHY1996TPHY1996tphy1996" />
    <!--微信退款证书路径      微信不退款请忽略此项设置-->
    <add key="cert_path" value="E:\cert\tphy\apiclient_cert.p12" />
    <!--微信退款证书密码      微信不退款请忽略此项设置-->
    <add key="SSLCERT_PASSWORD" value="1580333701" />
    <!--微信支付回调地址    只需修改网站名称(WeChatInternetHospital)即可,不要修改页面名称-->
    <add key="NOTIFY_URL" value="http://www.bjzhenyuankeji.com/WebChatInternetHospital-TPHY/WeChatCallback.aspx" />


    <!--微信公众号消息令牌(Token)  使用自定义菜单请忽略此项设置-->
    <add key="Token" value="" />
    <!--微信公众号消息加解密密钥    使用自定义菜单请忽略此项设置 -->
    <add key="EncodingAESKey" value="" />
    
  </appSettings>
  <connectionStrings>
    <!-- <add name="mysql" connectionString="server= rdsiee6z2vf6rruo.mysql.rds.aliyuncs.com;User Id=wxgh;database=wxgh;pwd=WXgh@2018;Persist Security Info=True;charset=utf8;Convert Zero Datetime=True;Allow User Variables=True;"/>-->
    <add name="mysql" connectionString="server=182.92.74.187;User Id=fast_nuclein;database=fast_nuclein;pwd=tphy2021;Persist Security Info=True;charset=utf8;Convert Zero Datetime=True;Allow User Variables=True;" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET"/>
        <add name="Access-Control-Allow-Headers" value="x-requested-with,content-type"/>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
