.payyes {
    width: calc(100% - 30px);
    height: 30px;
    margin-left: 15px;
    border: 1px solid #2C63DC;
    color: #2C63DC;
    font-size: 15px;
    border-radius: 5px;
}

.payno {
    width: calc(100% - 30px);
    height: 30px;
    margin-left: 15px;
    border: 1px solid red;
    color: red;
    font-size: 15px;
    border-radius: 5px;
}

.top {
    width: calc(100% - 30px);
    margin-left: 15px;
    height: 80px;
    background: url(../Image/det1.png) no-repeat;
    background-size: 100%;
}

.top1{
    font-size: 20px;
    color: white;
}

.top2 {
    font-size: 12px;
    color: white;
}

.con {
    width: calc(100% - 30px);
    margin-left: 15px;
    height: 250px;
    background-color: white;
}

#qrcode {
    margin: auto;
    width: 180px;
    left: 0%;
    position: relative;
}

.ts {
    font-size: 12px;
    color: red;
}

.btn {
    position: fixed;
    bottom: 10px;
    width: 90%;
    margin-left: 5%;
    height: 45px;
    border-radius: 5px;
    background-color: #2C63DC;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
}